**Python MySQL**

**MySQL Database**
To be able to experiment with the code examples in this tutorial, you should have MySQL installed on your computer.

You can download a MySQL database at https://www.mysql.com/downloads/.

**Install MySQL Driver**
Python needs a MySQL driver to access the MySQL database.

In this tutorial we will use the driver "MySQL Connector".

We recommend that you use PIP to install "MySQL Connector".

PIP is most likely already installed in your Python environment.

Navigate your command line to the location of PIP, and type the following:

**Download and install "MySQL Connector":**

C:\Users\Your Name\AppData\Local\Programs\Python\Python36-32\Scripts>python -m pip install mysql-connector-python
Now you have downloaded and installed a MySQL driver.

**Test MySQL Connector**
To test if the installation was successful, or if you already have "MySQL Connector" installed, create a Python page with the following content:

In [2]:
import mysql.connector
print("Executed successfully!")

Executed successfully!

**Create Connection**
Start by creating a connection to the database.

Use the username and password from your MySQL database:

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Lucky@server2002"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A7D57683B0>

**Creating a Database**  
To create a database in MySQL, use the "CREATE DATABASE" statement:   
If the above code was executed with no errors, you have successfully created a database.

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Lucky@server2002"
)

mycursor = mydb.cursor()
try:
  mycursor.execute("CREATE DATABASE usingpythondatabase")
  print("The DataBae is created")
except:
  print("ERROR: Database already exist in your database record so can not create same name database!")

The DataBae is created

**Check if Database Exists**  
You can check if a database exist by listing all databases in your system by using the "SHOW DATABASES" statement:  
Return a list of your system's databases:

In [10]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Lucky@server2002"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('code_crunch',)
('dbmslab',)
('hotelmanagementsystem',)
('information_schema',)
('javadatabase',)
('learnvern',)
('lucky',)
('lucky1',)
('lucky2',)
('mysql',)
('performance_schema',)
('sys',)
('try',)
('usingpythondatabase',)

Or you can try to access the database when making the connection:  
If the database does not exist, you will get an error.

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Lucky@server2002",
  database="hotelmanagementsystem"
)

print("The database is exist in your database list.")

The database is exist in your database list.

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Lucky@server2002",
  database="hotelmanagementsystem"
)
#for the below code now we are in the "hotelmanagementsystem" database
mycursor = mydb.cursor()

mycursor.execute("SHOW tables")   #showes the hole tables present in the same database
tableList = []
for x in mycursor:
  tableList.append(x)
print(tableList)

[('customer',), ('customer_record',), ('department',), ('driver',), ('employee',), ('login',), ('rooms',)]

**Creating a Table**  
To create a table in MySQL, use the "CREATE TABLE" statement.  

Make sure you define the name of the database when you create the connection  
If the above code was executed with no errors, you have now successfully created a table.

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Lucky@server2002",
  database="usingpythondatabase"
)

mycursor = mydb.cursor()

try:
  mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")
  print("Sucessfully crreatind the table in the usingpythondatabase Database.")
except:
  print("ERROR: the table customers is already exisit in this database.")

mycursor.execute("show tables")
print("The tables: ")
for x in mycursor:
  print(x)

Sucessfully crreatind the table in the usingpythondatabase Database.
The tables:
('customers',)
('customers420',)
('customers421',)
('customers422',)

**Insert Into Table**  
To fill a table in MySQL, use the "INSERT INTO" statement.  
**Important!:** Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Lucky@server2002",
  database="usingpythondatabase"
)


mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [10]:
x = 0
#this code inserted same value 10 time in the table in one run
for x in range(1,10):
    sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
    val = ("John", "Highway 21")
    mycursor.execute(sql, val)

    mydb.commit()

    print(mycursor.rowcount, "record inserted.")

1 record inserted.
1 record inserted.
1 record inserted.
1 record inserted.
1 record inserted.
1 record inserted.
1 record inserted.
1 record inserted.
1 record inserted.

In [13]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

**Delete a Table**
You can delete an existing table by using the "DROP TABLE" statement:

In [16]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Lucky@server2002",
  database="usingpythondatabase"
)

mycursor = mydb.cursor()

sql = "DROP TABLE customers422"

try:
  mycursor.execute(sql)
  print("Successfully deleted!")
except:
  print("ERROR: table not found")

ERROR: table not found

**Drop Only if Exist**
If the table you want to delete is already deleted, or for any other reason does not exist, you can use the IF EXISTS keyword to avoid getting an error.

In [18]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Lucky@server2002",
  database="usingpythondatabase"
)

mycursor = mydb.cursor()

sql = "DROP TABLE customers422 IF Exist customer422"

**Limit the Result**  
You can limit the number of records returned from the query, by using the "LIMIT" statement:

In [19]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)
print("The ",mycursor.rowcount," are affected! ")

('John', 'Highway 21')
('John', 'Highway 21')
('John', 'Highway 21')
('John', 'Highway 21')
('John', 'Highway 21')
The  5  are affected!

**Start From Another Position**  
If you want to return five records, starting from the third record, you can use the "OFFSET" keyword:

In [23]:
mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 18")
myresult = mycursor.fetchall()

for x in myresult:
  print(x)
print("The ",mycursor.rowcount," are affected! ")

('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
The  5  are affected!