In [9]:
print("Hello, World!")

Hello, World!

In [10]:
a = 10

In [11]:
s = "Hello Lucky"

In [12]:
x = 10
if x > 5:
    print("Yes")
else:
    print("No")

Yes

In [13]:
d = input()

In [14]:
# Even number
even = int(input("Enter number:  "))
if even % 2 == 0:
    print(f"{even} is even")
else:
    print(f"{even} is odd")

5 is odd

In [15]:
# Leap year
# input()
# 2004: leap year
# 2005: not a leap year
# 2000: leap year
# 2100: not a leap year

user = int(input("enter the year: "))
if user % 100 == 0:
    if user % 400 == 0:
        print("leap year")
    else:
        print("not leap")
else:
    if user % 4 == 0:
        print("leap year")
    else:
        print("not leap")

leap year

In [4]:
list1 = ["Hello", 25, ["World", 250], 25.4]

In [1]:
l1 = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [5]:
list1[0] = "lucky"

In [6]:
list1

['lucky', 25, ['World', 250], 25.4]

In [7]:
s = "abcaab a a g"

In [16]:
"ab23478skdjfDFEc".find("2")

2

In [17]:
list1.index(25)

1

In [18]:
type(list1[2])

list

In [19]:
fruits = ["apple", "orange", "banana"]

In [20]:
for i in fruits:
    print(i)

apple
orange
banana

In [21]:
list2 = ["a", "b", "c", "d", 45, 2.4]

In [22]:
for i in range(6):
    print(list2[i])

a
b
c
d
45
2.4

In [23]:
list2.append("e")

In [24]:
a = list2.pop(1)

In [25]:
list2.remove("c")

In [26]:
list2

['a', 'd', 45, 2.4, 'e']

In [27]:
l3 = []

In [28]:
for i in range(100):
    l3.append(i)

In [29]:
l3[::-1]

[99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [173]:
"Hello"[4:2:-1]

'ol'

In [174]:
"hello"[::-1]

'olleh'

In [179]:
# palindrome
# malayalam

paluser = input("Enter the string: ")
if paluser[::-1] == paluser:
    print("palindrome")
else:
    print("not the palindrome")

not the palindrome

In [185]:
# Prime

primeuser = int(input("enter the value for check: "))
count = 0
for i in range(2, primeuser//2):
    if primeuser % i == 0:
        count += 1

if count > 0:
    print("not prime")
else:
    print("prime")

not prime